.ingredients-view {
    background-color: var(--background-color);
    /* Initial width when is collapsed, padding lleft & right + gap + letters +  ingredients */
    width: calc(var(--screen-padding) * 3 + var(--letters-width) + var(--ingredients-width));
    position: absolute;
    top: 0;
    /* Same as width but in negative to hide view */
    left: calc((var(--screen-padding) * 3 + var(--letters-width) + var(--ingredients-width)) * -1);
    padding: var(--screen-padding);
    transition: 0.5s linear;
    overflow: hidden;
    z-index: 1;
}

/* Width when is expanded */
.ingredients-view.expanded {
    width: 75vw;
}

/* When need to hide, this tlass informate that is expanded and need this new left position */
.ingredients-view.open {
    left: -75vw;
}

.ingredients-view.show {
    left: 0;
}

/* Fixed height for view letters and ingredients in any screen size */
.ingredients-view-container {
    height: 468px; 
    display: flex;
    flex-wrap: wrap;
    gap: var(--screen-padding);
    transition: 0.5s linear;
}

.letters {
    height: 100%;
    width: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.letter {
    height: 18px;
    width: 18px;
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1px;
    font-size: 1em;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    color: var(--icon-color);
}

.letter:hover {
    filter: brightness(75%);
}

.letter.selected {
    filter: brightness(50%);
    cursor: default;
    pointer-events: none;
}

.ingredients-container {
    width: var(--ingredients-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.arrow-button.vertical {
    position: absolute;
    width: var(--ingredients-width);
    height: var(--screen-padding);
    left: 0;
}

/* Fix absolute position of this vertical arrow buttons */
.ingredients-container .arrow-button.vertical:first-child {
    top: calc(var(--screen-padding) * -1);
}

.ingredients-container .arrow-button.vertical:last-child {
    bottom: calc(var(--screen-padding) * -1);
}

/* Text showed in ingredients container on int and when there are 0 ingredients */
.hint-container {
    width: 100%;
    padding: 1em;
    justify-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3.hint-label {
    width: 100%;
    text-align: center;
    transition: 0.5s linear;
    margin-bottom: 10px;
}

.ingredients-text {
    width: 100%;
    text-align: center;
    padding: 0 1em;
    justify-content: center;
    align-self: center;
    transition: 0.5s linear;
}

/* This is the element that simulate scroll */
.ingredients-list {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: start;
    z-index: 1;
    transition: 0.5s linear;
}

.ingredient {
    background-color: var(--button-background);
    height: 36px;
    width: var(--ingredients-width);
    font-family: "Source Sans 3", sans-serif;
    color: var(--primary-color);
    font-weight: 300;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.ingredient:hover {
    filter: brightness(125%);
}

.cocktails-ingredients {
    height: 468px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex: 1;
    z-index: 0;
    position: relative;
    overflow: hidden;
    transition: 0.5s linear;
}

.cocktails-ingredients h2 {
    margin: 0;
    transition: 0.5s linear;
    width: 100%;
    text-align: center;
}

.selected-ingredients {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.5s linear;
}

.selected-ingredient {
    width: 127px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.selected-ingredient p {
    text-align: center;
}

.remove-ingredient {
    background: center url('../assets/svg/cancel_26dp_B9AC70_FILL0_wght300_GRAD0_opsz24.svg');
    background-size: contain;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 0;
    right: 18px;
}

.remove-ingredient:hover {
    filter: brightness(75%)
}

.horitzontal-buttons-container {
    height: var(--square-regular-width);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* Contains spacer and horitzontal button*/
.button-container {
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
}

.spacer {
    background-color: var(--background-color);
    height: var(--square-regular-width);
    width: 0;
    z-index: 1;
}

.arrow-button.horitzontal {
    height: var(--square-regular-width);
    width: var(--screen-padding);
    z-index: 1;
}

.arrow-button.horitzontal.arrow-left {
    background: no-repeat center url(../assets/svg/arrow_left_48dp_B9AC70_FILL0_wght700_GRAD200_opsz48.svg), var(--background-color);
    cursor: pointer;
    background-size: contain;
    pointer-events: auto;
}

.arrow-button.horitzontal.arrow-right {
    background: no-repeat center url(../assets/svg/arrow_right_48dp_B9AC70_FILL0_wght700_GRAD200_opsz48.svg), var(--background-color);
    cursor: pointer;
    background-size: contain;
    pointer-events: auto;
}

.ingredients-text.help-text {
    position: absolute;
    padding: 0 24px;
}

/* Results of filter by ingredient */
.ingredients-matches {
    height: var(--square-regular-width);
    width: calc(100% - (var(--screen-padding) * 2));
    position: absolute;
    bottom: 0;
    left: var(--screen-padding);
    display: flex;
    justify-content: start;
    gap: 1vw;
    z-index: 0;
    transition-property: left, opacity;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

/* Settings for custom pop-up ingredients view */
.pop-up.ingredient-alert {
    top: calc(var(--screen-padding) * -1);
    right: 0;
    height: var(--screen-padding);
}

.pop-up.ingredient-alert.show {
    top: 0;
}

/* Settings for small screens, values are minimal to adjust view */
@media (max-width: 1279px) {
    /* Change ingredients view size to 100% width */
    .ingredients-view {
        width: calc((var(--screen-padding) * 2) + 148px);
        left: calc(((var(--screen-padding) * 2) + 148px) * -1);
    }
    
    .ingredients-view.expanded {
        width: 100vw;
    }

    .ingredients-view.open {
        left: -100vw;
    }
    
    .ingredients-view.show {
        left: 0;
    }

    .ingredients-view-container {
        gap: 10px;
    }

    .cocktails-ingredients {
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
    }

    .ingredient,
    .ingredients-container,
    .ingredients-list,
    .arrow-button.vertical {
        width: 120px;
    }

    .selected-ingredients {
        height: 225px;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .selected-ingredient {
        width: 68px;
        height: 110px;
        gap: 0;
        overflow: hidden;
        z-index: 2;
    }

    .selected-ingredient p {
        width: 100%;
        height: 22px;
    }

    .ingredient-image {
        height: 88px;
        object-fit: cover;
    }

    .remove-ingredient {
        right: 0;
    }

    .hint-container {
        padding: 0;
    }

    /* Make arrows bigger in small screens */
    .arrow-button.horitzontal.arrow-left {
        background-size: 28px;
    }

    .arrow-button.horitzontal.arrow-right {
        background-size: 28px;
    }

    .pop-up.ingredient-alert {
        top: -20px;
        right: 0;
        height: 20px;
    }

    .ingredients-matches {
        bottom: 16px;
    }
}
